@font-face {
  font-family:"StratumNo1Bold";
  src: url("stratumno1bold.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
  font-family:"StratumNo1Regular";
  src: url("StratumNo1 Regular.ttf") /* TTF file for CSS3 browsers */
}

.navbar-inverse {
  background-color: rgba(0,0,0,0.5)!important;
}

.navbar {
  border: none!important;
}

.navtext {
  text-align: center!important;
  padding-bottom: 5px!important;
}

.navbar-nav .nav {
    float: none!important;
    text-align: center!important;
    height: 75px;
    padding-bottom: 10px;
    padding-top: 10px;
}

a.navtext {
	letter-spacing: 6px;
	color: #ffffff!important;
	font-family: "Nunito Sans";
	text-decoration: none;
	position: relative;
	margin-left: 5px;
  font-size: 15px;
}

a.navtext:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
 	left: 0;
  background: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.32s ease-in-out 0s;
  transition: all 0.32s ease-in-out 0s;
}

a.navtext:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*Centers the hamburger and navbar items*/

.navbar-nav {
  text-align: center!important;
  align-self: center!important;
  float: none!important;
  vertical-align: top!important;
  display: inline-block!important;
}

.navbar .navbar-collapse {
  text-align: center!important;
}

.navbar-collapse.in {
    overflow: hidden!important;
    max-height: none !important;
    height: auto !important;
}

.navbar-header{
    text-align: center!important;
}

.navbar-toggle {
    float: none!important;
    margin-right:0!important;
}

/*Makes the hamburger box uncolored when any interactions*/

button {
  border: transparent!important;
}

button:active {
  color: transparent!important;
  background-color: transparent!important;
}

button::after {
  color: transparent!important;
  background-color: transparent!important;
}

button::before {
  color: transparent!important;
  background-color: transparent!important;
}

button::selection {
  color: transparent!important;
  background-color: transparent!important;
}

button:hover {
  color: transparent!important;
  background-color: transparent!important;
}

button:hover::after {
  color: transparent!important;
  background-color: transparent!important;
}

button:focus {
  color: transparent!important;
  background-color: transparent!important;
}

/* Jumbotron header*/

.jumbotron {
  padding: 0px!important;
  margin: none!important;
}

.jumbotronPicture {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/SvnuN4M.png');
  height: 90%;
  padding-top: none!important;
  margin: none!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative!important;
}

.jumbotronText {
  padding-top: 50px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #ffffff!important;
    background: none!important;
}
